.header {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  text-align: center;
  font-size: 2.8rem;
}
.main-page__first-graph {
  margin-top: 100px;
}
.main-page__text {
  text-align: center;
  width: 50%;
  margin: 0 25%;
}
.main-page__heading {
  font-weight: 700;
  font-size: 5rem;
  color: var(--text-color);
  width: 70%;
  margin: 0 15%;
}
.main-page__description {
  color: var(--text-color);
  font-size: 1.6rem;
  width: 91%;
  margin: 22px 4.5% 0;
  line-height: 2.5rem;
}
/* ------------------------------------------------------------ */
.main-page__category-list {
  margin-top: 80px;
  width: 100%;
  height: 491px;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/cfa0aea133d35d1eaee2fc62/pexels-photo-6171394.jpeg')
    no-repeat bottom right;
  background-size: cover;
}
.main-page__category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-page__category-item {
  width: 250px;
  padding: 30px;
  background-color: #f2f2f2;
  margin-right: 16px;
}
.main-page__category-item.main-page__category-item--color {
  background-color: #d5dee5;
}
.main-page__category-icon {
  font-size: 5rem;
}
.main-page__category-heading {
  margin-top: 18px;
  font-size: 2.4rem;
  font-weight: 800;
}
.main-page__category-text {
  line-height: 2.5rem;
  margin-top: 22px;
  font-size: 1.6rem;
  font-weight: 300;
}
/* ------------------------------------------------------------------- */
.main-page__second-graph {
  height: 722px;
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
}
.main-page__text-second {
  text-align: center;
  width: 50%;
  margin: 80px 25% 0;
}
.main-page__heading-second {
  font-weight: 700;
  font-size: 5rem;
  color: var(--text-color);
  width: 80%;
  margin: 0 10%;
}
.main-page__description-second {
  line-height: 2.5rem;
  color: var(--text-color);
  font-size: 1.6rem;
  width: 70%;
  margin: 20px 15% 0;
}
.main-page__second-left-img {
  position: absolute;
  width: 330px;
  height: 342px;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/942a5ee511055b0a99fadbae/pexels-photo-3137038.jpeg?version=');
  background-size: cover;
  top: -80px;
}
.main-page__second-right-img {
  position: absolute;
  width: 330px;
  height: 342px;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/21b13e1e475558f1b1a09e5e/pexels-photo-4200597.jpeg?version=');
  background-size: cover;
  right: 0;
  bottom: 0;
}
/* ----------------------------------------------------------------------------- */
.main-page__benefit-block {
  padding: 50px 0;
}
.main-page__benefit-list {
  padding-left: 0;
  width: 60%;
  margin-left: 40%;
}
.main-page__benefit-item {
  padding: 30px;
  display: flex;
  list-style-type: none;
}
.main-page__benefit-icon {
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 4rem;
  border: 1px solid #9eafbf;
  color: #9eafbf;
  /* background-color: #9eafbf; */
}
.main-page__benefit-detail {
  margin-left: 30px;
}
.main-page__benefit-heading {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
}
.main-page__benefit-description {
  font-size: 1.6rem;
  margin-top: 30px;
  color: #999;
}
.main-page__benefit-btn {
  color: #9eafbf;
  border: 2px solid #9eafbf;
  border-radius: 25px;
  background-color: var(--white-color);
  padding: 10px 30px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-top: 30px;
}

.main-page__benefit-btn:hover {
  background-color: #9eafbf;
  color: var(--white-color);
}

.main-page__benefit-info {
  border-radius: 50%;
  background-color: #9eafbf;
  padding: 30px;
  height: 80%;
  width: 60%;
  text-align: center;
  margin: 10% 0;
}
.main-page__benefit-title {
  font-size: 4.8rem;
  color: var(--white-color);
  padding-top: 60px;
}
.main-page__benefit-specific {
  font-size: 2rem;
  margin-top: 30px;
  color: var(--white-color);
  font-weight: 400;
  width: 80%;
  margin: 0 10%;
}

.main-page__text-second-member {
  text-align: center;
  width: 50%;
  margin: 80px 25% 0;
}

.main-page__second-left-img-member {
  position: absolute;
  width: 330px;
  height: 342px;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/8f9d6b05d9d956f28ababa60/pexels-photo-7196337.jpeg?version=')
    center no-repeat;
  background-size: cover;
  top: -80px;
}
.main-page__second-right-img-member {
  position: absolute;
  width: 330px;
  height: 342px;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/d29be72c2c1955e8894600d0/pexels-photo-842980.jpeg?version=')
    center no-repeat;
  background-size: cover;
  right: 0;
  bottom: 0;
}
.main-page__question {
  height: 644px;
  width: 100%;
  background-image: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/c4c66359aed55ac685514070/pexels-photo-5646794.jpeg?version=');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-page__question-heading {
  color: var(--white-color);
  font-size: 4.8rem;
  padding-top: 60px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}
.main-page__question-list {
  padding-left: 0;
  width: 30%;
  margin: 0 35%;
}
.main-page__question-item {
  line-height: 2.5rem;
  margin-top: 32px;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 10px 30px;
  background-color: var(--white-color);
  border-radius: 50px;
  list-style-type: none;
}

.main-page__question-item:hover {
  background-color: #9eafbf;
  color: var(--white-color);
}

.main-page__btn {
  color: #9eafbf;
  border: 2px solid #9eafbf;
  border-radius: 25px;
  background-color: var(--white-color);
  padding: 10px 30px;
  font-size: 1.6rem;
  margin: 20px;
  font-weight: 600;
  line-height: 2.5rem;
}

.main-page__btn:hover {
  color: var(--white-color);
  background-color: #9eafbf;
}

.main-page__gallery {
  background-color: #e5e5e5;
}
.main-page__gallery-container {
  width: 70%;
  margin: 0 15%;
  padding-top: 80px;
}
.main-page__gallery-text {
  padding-right: 10px;
}

.main-page__gallery-info {
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.main-page__gallery-heading {
  font-size: 4.8rem;
  color: var(--text-color);
  font-weight: 800;
  margin: 0 0 20px;
}
.main-page__gallery-img-1 {
  height: 339px;
  width: 100%;
  background: url('https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/5af9723da7b056f29b36d4e5/pexels-photo-6146810.jpeg?version=')
    center no-repeat;
  background-size: cover;
}
.main-page__gallery-img-2 {
  height: 698px;
  width: 80%;
  background: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/2289f52aa37e5c32a68f5042/pexels-photo-5490234.jpeg?version=')
    center no-repeat;
  background-size: cover;
}
.main-page__gallery-img-3 {
  margin-top: 20px;
  height: 339px;
  width: 100%;
  background: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/facacf65f41657c6bdb86367/pexels-photo-6171394.jpeg?version=')
    center left no-repeat;
  background-size: cover;
}

.main-page__author {
  background-color: var(--white-color);
}
.main-page__author-block {
  width: 60%;
  margin: 80px 20%;
}
.main-page__author-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page__author-img {
  width: 250px;
  height: 250px;
  background: url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/bb5e195ad4b95d589db0e8ac/pexelsphoto412840.jpeg')
    center no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.main-page__author-info {
  margin-top: 20px;
  text-align: center;
}
.main-page__author-description {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--text-color);
  width: 66%;
  margin: 0 17%;
}
.main-page__author-name {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--text-color);
}
.main-page__author-position {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--text-color);
}

.main-page__assisted {
  background-color: #9eafbf;
}
.main-page__assisted-block {
  margin: 0 25%;
  width: 50%;
  padding: 80px 0;
}
.main-page__assisted-info {
  text-align: center;
}
.main-page__assisted-heading {
  font-size: 4.8rem;
  color: var(--white-color);
  margin: 0;
}
.main-page__assisted-description {
  width: 72%;
  margin: 20px 14% 0;
}
.main-page__assisted-description-1 {
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 600;
}
.main-page__assisted-description-2 {
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 300;
}
.main-page__assisted-list {
  width: 88%;
  margin: 30px 6% 0;
}
.main-page__assisted-item {
  padding: 30px;
  background-color: var(--white-color);
  text-align: center;
  height: 215px;
  margin: 15px 5px;
}
.main-page__assisted-icon {
  font-size: 4.5rem;
  color: #9eafbf;
}
.main-page__assisted-name {
  font-size: 2.4rem;
  margin-top: 20px;
  font-weight: 700;
  color: var(--text-color);
}
.main-page__assisted-detail {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}

/* footer */

.footer {
  background-color: #333;
}
.footer__block {
  text-align: center;
  width: 24%;
  margin: 0 38%;
  padding: 50px 0;
}
.footer__text {
  color: var(--white-color);
  font-size: 1.4rem;
}
.footer__link {
  margin-top: 80px;
  color: var(--white-color);
  font-size: 1.3rem;
}
.footer__link > a {
  color: var(--white-color);
}

/* reponsive */
/* mobile */
